<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>燕网--成绩单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.useso.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

    <!-- 公共样式 -->
    <link rel="stylesheet" type="text/css" href="/exam/css/reset.css"/>

    <!-- 主要样式 -->
    <link rel="stylesheet" type="text/css" href="/exam/css/style.css"/>

</head>
<body>

<section id="cd-table">
    <header class="cd-table-column">
        <ul th:each="g : ${gradeList}">
            <li th:text="${g.className}"></li>
        </ul>
    </header>

    <div class="cd-table-container">
        <div class="cd-table-wrapper">

            <div class="cd-table-column">
                <ul th:each="g : ${gradeList}">
                    <li th:text="${g.stuGrade}"></li>
                </ul>
            </div> <!-- cd-table-column -->

            <div class="cd-table-column">
                <ul th:each="g : ${gradeList}">
                    <li th:text="${g.classGrade}"></li>
                </ul>
            </div> <!-- cd-table-column -->

            <div class="cd-table-column">
                <ul th:each="g : ${gradeList}">
                    <li th:text="${g.makeupGrade}"></li>
                </ul>
            </div> <!-- cd-table-column -->

            <div class="cd-table-column">
                <ul th:each="g : ${gradeList}">
                    <li th:text="${g.rebuildGrade}"></li>
                </ul>
            </div> <!-- cd-table-column -->

        </div> <!-- cd-table-wrapper -->
    </div> <!-- cd-table-container -->

    <em class="cd-scroll-right"></em>
</section> <!-- cd-table -->

<script type="text/javascript" src="/exam/js/jquery.min.js"></script>
<script type="text/javascript" src="/exam/js/script.js"></script>

</body>
</html>